{{!-- HEADER --}}
{{> header}}
{{!-- HEADER --}}
{{!-- INTEGRATION --}}
{{!-- INTEGRATION --}}
<div class="line-page">&nbsp;</div>
{{!-- WHYMETEOR --}}
<div class="whymeteor">
    <div class="title-default">
        <h3>Why meteor ?</h3>
    </div>
</div>
{{!-- WHYMETEOR --}}
{{!-- OBJECTS --}}
<div class="objects-container">
    <div class="objects">
        <div class="objects-item">
            <span></span>
            <h3>Ship more with less code</h3>
            <span class="object-text">Accomplish in 10 lines what would otherwise take 1000, thanks to an integrated JavaScript stack that extends from the database to the end user's screen.</span>
        </div>
        <div class="objects-item">
            <span class="icon"></span>
            <h3>Build apps for any device</h3>
            <span class="object-text">Use the same code whether you’re developing for web, iOS, Android, or desktop. Hot push new features without app store approval or forcing users to download a new native app</span>
        </div>
        <div class="objects-item">
            <span></span>
            <h3>Integrate technologies you already use</h3>
            <span class="object-text">Use popular frameworks and tools, right out-of-the-box. Focus on building features instead of wiring disparate components together yourself</span>
        </div>
    </div>
</div>
{{!-- OBJECTS --}}
<div class="line-page">&nbsp;</div>
{{!-- COMPANIES --}}
<div class="companies">
    <div class="title-default">
        <h3>COMPANIES USING METEOR</h3>
    </div>
    <div class="companies-images">
        <ul>
            <li id="mazda" class="companie-link">
                <img src="public/assets/icon-mazda.png">
            </li>
            <li id="ikea" class="companie-link">
                <img src="public/assets/icon-ikea.png">                        
            </li>
            <li id="honeywell" class="companie-link">
                <img src="public/assets/icon-honeywell.png">                        
            </li>
            <li id="qualco" class="companie-link">
                <img src="public/assets/icon-qualco.png">                                           
            </li>
            <li id="tour" class="companie-link">
                <img src="public/assets/icon-tour.png">                                                
            </li>
        </ul>
    </div>
</div>
{{!-- COMPANIES --}}
{{!-- BUILDMETEOR --}}
<div class="build-meteor">
    <div class="title-default color-white">
        <h3 class="color-white">BUILT WITH METEOR</h3>
    </div>
    <div class="media">
        <div class="media-left">
            <span class="thumbnail-gif"></span>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><span>CodeFights</span></h4>
            <a class="link-redirect" href="_blank">https://codefights.com/</a>
            <a class="link-redirect case-study-link" href="href=" https://www.youtube.com/watch?v=Wo0ButVtsK4 "">
                <i>></i>
                <i>See this Case Study</i>
            </a>
            <div class="media-content">
                <span>
                CodeFights gamifies programming through head-to-head online coding challenges and tournaments
                </span>
            </div>
        </div>
    </div>
</div>
{{!-- BUILDMETEOR --}}
{{!-- VIEW MORE APPS --}}
<div class="view-more">
    <a class="link-button">> VIEW MORE APPS</a>
</div>
{{!-- VIEW MORE APPS --}}
<div class="line-page"></div>
{{!-- COMMERCIAL --}}
<div class="commercial">
    <div class="title-default">
        <h3>COMMERCIAL SERVICES</h3>
    </div>
    <div class="objects-container">
        <div class="objects">
            <div class="objects-item">
                <h3 class="object-title">Effortless Meteor Hosting</h3>
                <span class="object-text">Stop wasting time on devops. Deploy your app using Galaxy, the easiest way to scale and manage your Meteor apps</span>
                <a href="_blank" class="link-redirect"><b>> Get Meteor Hosting</b></a>
            </div>
            <div class="objects-item">
                <h3 class="object-title">Official Developer Support</h3>
                <span class="object-text">Need help troubleshooting or improving your code? Work directly with the engineers behind the Meteor framework</span>
                <a href="_blank" class="link-redirect"><b>> Get Paid Support</b></a>
            </div>
            <div class="objects-item">
                <h3 class="object-title">Global Partner Network</h3>
                <span class="object-text">Choose from hundreds of Official Meteor Partners to help you with app development and training.</span>
                <a href="_blank" class="link-redirect"><b>> Find A Partner</b></a>
            </div>
        </div>
    </div>
</div>
{{!-- COMMERCIAL --}}
{{!-- COMMUNITY --}}
<div class="community">
    <div class="title-default color-white">
        <h3 class="color-white">BUILT WITH METEOR</h3>
    </div>
    <div class="community-list">
        <div class="community-list-item">
            <span class="community-number">12644</span>
            <span class="community-text">PACKAGES</span>
        </div>

        <div class="community-list-item">
            <span class="community-number">226</span>
            <span class="community-text">PROFESSIONAL SERVICE <br> PROVIDERS</span>
        </div>

        <div class="community-list-item">
            <span class="community-number">26415</span>
            <span class="community-text">STACK OVERFLOW <br> QUESTIONS</span>
        </div>

        <div class="community-list-item">
            <span class="community-number">508K</span>
            <span class="community-text">UNIQUE <br> INSTALLS</span>
        </div>
        <div class="community-list-item">
            <span class="community-number">11</span>
            <span class="community-text">UPCOMING <br> EVENTS</span>
        </div>
    </div>
</div>
{{!-- COMMUNITY --}}
{{!-- GET STARTED --}}
<div class="get-started">
    <span class="meteor-icon"></span>
    <span class="get-started-text">BUILD GREAT APPS FASTER THAN EVER USING METEOR</span>
    <a class="link-button animation">GET STARTED NOW</a>
</div>
{{!-- GET STARTED --}}