<div class="login-form">
  <h6>LOGIN</h6>
  <form onsubmit="handlerSubmitLogin(event)" action="/login" method="post">
    <div class="inputs">
      <div>
        <label for="">E-mail</label>
        <input type="text" name="email">
      </div>
      <div>
        <label for="">Password</label>
        <input type="password" name="password">
      </div>
    </div>
    <div class="header-links">
        <button type="submit" class="link-button btn-left">
            LOGIN
        </button>
        <a href="/register" class="link-button btn-right animation">
            REGISTER
        </a>
    </div>
    <a href="">forgot password</a>
  </form>
  <div class="line-page">&nbsp;</div>  
</div>