#message {
  display: block;
  position: sticky;
  z-index: 9999999;
  width: 440px;
  margin: 0 auto;
}
#message .message-error {
  padding: 10.5px;
  background-color: #de4f4f;  
  text-align: center;
  font-size: 15px;
  width: 440px;  
  color: #fff;
  text-transform: uppercase;
  font-family: 'ProximaNovaT-Thin';
}
#message div b {
  text-decoration-line: underline;
}

.login-form {
  width: 400px;
  margin: 100px auto;
  background-color: #2b2e39;
  padding: 25px;
}
.login-form h6 {
  text-align: center;
  font-size: 28px;
  color: #fff;
  text-transform: uppercase ;
  font-family: 'ProximaNovaT-Thin';
  margin-bottom: 20px;
}
.login-form form {
  text-align: center;
}
.login-form label {
  display: block;
  color: white;
  font-weight: bold;
  font-family: 'ProximaNovaT-Thin';
  line-height: 20px;
}
.login-form .inputs {
  text-align: left;
  width: 200px;
  margin: 0 auto;
}
.login-form .inputs div {
  margin: 10px 0;
}
.login-form input {
  border: 1px solid white;
  height: 26px;
  width: 200px;
}
.login-form button {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: 'ProximaNovaT-Thin';
  cursor: pointer;
  text-transform: uppercase;
}
.login-form a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: 'ProximaNovaT-Thin';
  cursor: pointer;
  text-transform: uppercase;
}
.login-form button:hover {
  color: #de4f4f;
}
.posts {
  margin-top: 20px;
}
.post {
  width: 80%;
  margin: 10px auto;  
}
.post-image {
  text-align: center;
}
.post-info {
  font-family: 'ProximaNovaT-Thin';  
  /* border: 1px solid black; */
  padding: 10px;
}
.post-content {
  font-family: 'ProximaNova-Regular', arial, sans-serif;
  font-size: 15px;
  letter-spacing: 1.5px;
  line-height: 20px;
  /* border: 1px solid black; */
  padding: 10px 20px;
}
.post-form {
  display: block;
  background-color: #2b2e39;
  width: 50%;
  margin: 100px auto;
  padding: 20px;
}
.post-form form{
  width: 80%;
  margin: auto;
}
.post-form .inputs label {
  display: block;
  color: white;
  margin-bottom: 2px;
  margin-top: 10px;
}
.post-form input {
  height: 20px;
  width: 100%;
}
.post-form textarea {
  width: 100%;
  margin-bottom: 10px;
}
.post-form .buttons {
  width: 60%;
  margin: auto;
  text-align: center
}
.post-form .buttons button {
  height: 50px;
  width: 100px;
  color: #2b2e39;
  text-transform: uppercase ;
  font-family: 'ProximaNovaT-Thin';
  font-size: 15px;
  cursor: pointer;
}
.post-form .buttons button:hover {
  background-color: #de4f4f;
  color: white;
}
.post-form h1 {
  text-align: center;
  font-size: 28px;
  color: #fff;
  text-transform: uppercase ;
  font-family: 'ProximaNovaT-Thin';
  margin-bottom: 20px;
}

.custom {
  margin: 0 5px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 10px;
}

.btn-upload {
  font-family: 'ProximaNovaT-Thin';  
  border: 1px solid gray;
  color: gray;
  background-color: white;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}