<div class="login-form">
  <h6>LOGIN</h6>
  <form method="post" action="/login" id="form-login">
    <div class="inputs">
      <div>
        <label for="">E-mail</label>
        <input type="email" name="email" required>
      </div>
      <div>
        <label for="">Password</label>
        <input type="password" name="password" required minlength="6">
      </div>
    </div>
    <div class="header-links">
        <button type="submit" class="link-button btn-left">
            LOGIN
        </button>
        <a href="/register" class="link-button btn-right animation">
            REGISTER
        </a>
    </div>
    <a href="">forgot password</a>
  </form>
  <div class="line-page">&nbsp;</div>
  
</div>
{{{scripts.login}}}