<div class="login-form">
  <form action="/post" method="post" enctype="multipart/form-data">
    <div>
      <label for="">TITLE</label>
      <input type="text" name="title">
    </div>
    <div>
      <label for="">CONTENT</label>
      <textarea name="content" id="" cols="30" rows="10"></textarea>
    </div>
    <div>
      <label for="">IMAGE</label>
      <input type="file" name="image" accept="image/*">
    </div>
    <div>
      <button type="submit">Enviar</button>
      <button type="clear">Limpar</button>
    </div>
  </form>
</div>