<div class="login-form">
  <h3 style="color: white; text-align: center; font-family:'ProximaNovaT-Thin', arial, sans-serif; margin: 10px;">REGISTRO</h3>    
  <form action="/register" method="post" id="form-register">
    <div>
      <label for="">NOME</label>
      <input type="text" name="name" required minlength="6">
    </div>
    <div>
      <label for="">E-MAIL</label>
      <input type="email" name="email" required>
    </div>
    <div>
      <label for="">PASSWORD</label>
      <input type="password" name="password" required minlength="6">
    </div>
    <div>
      <label for="">CONFIRM PASSWORD</label>
      <input type="password" name="password_confirm" required minlength="6">
    </div>
    <hr>
    <div>
      <label for="">ENDEREÇO</label>
      <input type="text" name="rua" required minlength="6">
    </div>
    <div>
      <label for="">ESTADO</label>
      <input type="text" name="estado" required minlength="2" maxlength="2">
    </div>
    <div>
      <label for="">CIDADE</label>
      <input type="text" name="cidade" required>
    </div>
    <div>
      <label for="">CEP</label>
      <input type="text" name="cep" required minlength="9" maxlength="9">
    </div>
    <div>
      <button type="submit" style="padding: 10px; margin: 10px; color: black; font-size: 18px;">
        <b>Enviar</b>
      </button>
      <button type="submit" style="padding: 10px; margin: 10px; color: black; font-size: 18px;">
        <b>Limpar</b>
      </button>
    </div>
  </form>
</div>
{{{scripts.register}}}