<div class="login-form">
  <h3 style="color: white; text-align: center; font-family:'ProximaNovaT-Thin', arial, sans-serif; margin: 10px;">REGISTRO</h3>    
  <form action="/register" method="post">
    <div>
      <label for="">NOME</label>
      <input type="text" name="name">
    </div>
    <div>
      <label for="">E-MAIL</label>
      <input type="text" name="email">
    </div>
    <div>
      <label for="">PASSWORD</label>
      <input type="text" name="password">
    </div>
    <div>
      <button type="submit" style="padding: 10px; margin: 10px; color: black; font-size: 18px;">
        <b>Enviar</b>
      </button>
    </div>
  </form>
</div>