<footer>
    <div class="container">
        <div class="line-page"></div>
        <div class="list-footer">
            <div class="list-footer-item">
                <img src="https://d14xs1qewsqjcd.cloudfront.net/assets/logo-black.svg" alt="">
                <span>
                        © 2017 Meteor Development Group Inc.
                        <br>
                        <br>
                        Open source downloads supported by <a href="#">KeyCDN</a> and <a href="#">MaxCDN</a>
                    </span>
            </div>
            <div class="list-footer-item">
                <a href="/">Home</a>
                <a href="https://github.com/meteor/meteor">GitHub</a>
                <a href="https://twitter.com/meteorjs">Twitter</a>
                <a href="https://www.youtube.com/user/MeteorVideos">YouTube</a>
                <a href="https://www.facebook.com/meteorjs/">Facebook</a>
            </div>
            <div class="list-footer-item">
                <a href="/">Home</a>
                <a href="https://github.com/meteor/meteor">GitHub</a>
                <a href="https://twitter.com/meteorjs">Twitter</a>
                <a href="https://www.youtube.com/user/MeteorVideos">YouTube</a>
                <a href="https://www.facebook.com/meteorjs/">Facebook</a>
            </div>

            <div class="list-footer-item">
                <a href="/">Home</a>
                <a href="https://github.com/meteor/meteor">GitHub</a>
                <a href="https://twitter.com/meteorjs">Twitter</a>
                <a href="https://www.youtube.com/user/MeteorVideos">YouTube</a>
                <a href="https://www.facebook.com/meteorjs/">Facebook</a>
            </div>

            <div class="list-footer-item">
                <a href="/">Home</a>
                <a href="https://github.com/meteor/meteor">GitHub</a>
                <a href="https://twitter.com/meteorjs">Twitter</a>
                <a href="https://www.youtube.com/user/MeteorVideos">YouTube</a>
                <a href="https://www.facebook.com/meteorjs/">Facebook</a>
            </div>
        </div>

    </div>
</footer>