<nav class="nav-container animation">
    <span class="nav nav-title" style="margin: 0;">
        <div class="fundo-icon">
            <a href="/"><img src="/public/assets/logo-diff.svg"></a>
        </div>
    </span>
    <ul class="nav nav-links left">
        <li><a href="/">METEOR</a></li>
        <li><a href="/posts">POSTS</a></li>

        {{#if user}}
        <li><a href="/post" style="color: #de4f4f">+ NOVO POST</a></li>        
        {{/if}}
    </ul>

    <button class="bt-collapse right">                    
        <span class="bt-icon-collapse top">&nbsp;</span>
        <span class="bt-icon-collapse middle">&nbsp;</span>
        <span class="bt-icon-collapse bottom">&nbsp;</span>
    </button>
    <ul class="nav nav-links right">
        {{#if user}}
        <li style="margin-right: 25px;">

             <a href="/">
                <i class="fa fa-user-circle-o fa-lg custom" aria-hidden="true"></i>
                <b style="text-transform: capitalize;">{{user.name}}</b>
             </a>
        </li>
        <li><span class="text-bar"></span></li>        
        <li><a href="/logout" >Logout</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        <li><span class="text-bar"></span></li>
        <li><a href="/register">Register</a></li>
        {{/if}}
    </ul>
</nav>