<header>
    <div class="header-container">
        <div class="header-banner">
            <h6>THE FASTEST WAY TO BUILD</h6>
            <h3>JAVASCRIPT APPS</h3>
            <span>Meteor is an open source platform for web, <br> 
                    mobile, and desktop.</span>

            <div class="header-links">
                <a class="link-button btn-left animation">
                    INSTALL NOW
                    <span>Version 1.5.1</span>      
                </a>
                <a class="link-button btn-right animation">
                    TUTORIAL
                </a>
            </div>
        </div>
    </div>
</header>