<div class="content">
    <div class="integration">
        <h5>METEOR INTEGRATES WITH</h5>
        <ul>
            <li id="angular" class="logo-link"></li>
            <li id="react" class="logo-link"></li>
            <li id="mongo" class="logo-link"></li>
            <li id="graphql" class="logo-link"></li>
            <li id="npm" class="logo-link"></li>
            <li id="cordova" class="logo-link"></li>
        </ul>
    </div>
</div>