<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Build Apps with JavaScript | Meteor</title>
    <link rel="stylesheet" href="/public/main.css">
    <link rel="stylesheet" href="/public/new-styles.css">
    <link rel="stylesheet" href="/public/fonts.css">
    <link rel="stylesheet" href="/public/responsive.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div id="message" style="margin-top: 50px">
            {{#each errors as |value index|}}
                <div class="message-error">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    <b>{{index}}:</b> {{value}}
                </div>
            {{/each}}
        </div>            
        {{!-- NAVBAR --}}
        {{> navbar}}
        {{!-- NAVBAR --}}
        {{!-- BODY --}}
        <div class="main-content" id="content">
        {{{body}}}
        </div>
        {{!-- BODY --}}
        {{!-- FOOTER --}}
        {{> footer}}
        {{!-- FOOTER --}}
    </div>
    {{{scripts.main}}}
</body>

</html>